.charts_frame{
    width: 100%;
    height: 30vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    .first_chart{
        margin: 5px 0 ;
        padding: 0;
        width: 67%;
        max-height: 700px;
        border: 0px solid transparent;
        border-radius: 10px;
        background-color: var(--bg2);
        .barchart{
            height: 100%;
            color: #fff;
        }
    }
    .second_chart{
        margin: 5px 0 ;
        padding: 0;
        width: 30%;
        max-height: 700px;
        border: 0px solid transparent;
        border-radius: 10px;
        background-color: var(--bg2);
        display: flex;
        justify-content: center;
        align-items: center;
        .barchart2{
            height: 100%;
            color: #fff;
        }
    }
    .master_panel_charts{
        background-color: #cfedd0;
    }
    .master_panel_charts_2{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        justify-content: start;
        align-items: start;
        .details{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            justify-content: space-around;
            align-items: start;
        }
    }
}
.contain_admin{
    .master_table_info{
        background-color: #cfedd0;
        border: 0 solid transparent;
        border-radius: 10px;
        label{
            color: #000;
        }
        .dataTables_info{
            color: #000;
        }
        .subchanel_icon{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            align-items: center;
            img{
                width: 30px;
                height: 30px;
                border: 0 solid transparent;
                border-radius: 50%;
            }
            span{
                color: #fff;
                margin: 0;
                padding: 0 5px;
            }
        }
    }
}