:root {
    --bg1 : #1a2035;
    --bg2 : #2a3347;
    --action_color : #ffc107;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background-color: var(--action_color);
}
.side_bare_copy{
    position: relative;
    z-index: 1000;
    .copy_right{
        font-size: 12px;
        position: absolute;
        bottom: 100px;
        right: 5px;
    }
}
.layer_dark{
    width: 100vw;
    height: 100vh;
    background-color: #0000002c;
    position: fixed;
    z-index: 20;
}
body{
    background-color: #f3f4f6;
    overflow: hidden auto;
    font-family: "Courier font", Arial, sans-serif;
}
.top-menu{
    height: 50px;
}
.main_over_all{
    height: calc( 100vh - 56px);
    overflow: hidden auto;
}
.button_add{
    background-color: #004d40;
    border: 0 solid transparent;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    i{
        color: #fff;
        font-size: 15px;
    }
    transition: .4s ease;
}
.button_acount{
    background-color: var(--action_color);
    border: 0 solid transparent;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    i{
        color: #fff;
        font-size: 15px;
    }
    transition: .4s ease;
}
.button_acount:hover{
    transform: scale(1.1);
}
.button_add:hover{
    transform: scale(1.1);
}
.button_delete{
    background-color: #d60f0f;
}
.DataTable1{
    min-width: 900px
}
.DataTable2{
    min-width: 600px
}
.DataTable3{
    min-width: 500px
}
//***************************
time{
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 9;
}
.card-icon{
    .play_list_img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}
.image_logo_videos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.fa-delete-left{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9;
}
.img_panel_video{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    img{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    p{
        width: 100px;
        position: absolute;
        bottom: 5px;
        left: 5px;
        background-color: #000000;
        color: #fff;
    }
}
//******************************
// searsh
.label_for_search{
    transition: 0.4s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    i{
        color: var(--action_color);
        font-size: 30px;
    }
    input{
        margin-right: 10px;
        border: 2.5px solid var(--action_color);
        border-radius: 10px;
        transition: 0.4s ease;
        height: 35px;
        outline: none;
    }
    [type='search']:focus{
        border: 2.5px solid var(--action_color);
        border-radius: 10px;
    }
}
// }
///////pages style from old
@import "css_old/bootstrap-rtl.css";
@import "css_old/index.css";
@import "css_old/watch.css";
@import "css_old/channel.css";
@import "css_old/search.css";
@import "css_old/log.css";

//components
@import "components/main_frame.scss";
//**************pages
@import "pages/auth_pages/chanels.scss";
@import "pages/auth_pages/videos.scss";
@import "pages/auth_pages/about.scss";
@import "pages/auth_pages/play_list.scss";
@import "pages/auth_pages/play_videos.scss";
@import "pages/gest_pages/home.scss";
@import "pages/auth_pages/list_chanels.scss";
@import "pages/auth_pages/historique.scss";
@import "pages/auth_pages/support.scss";
@import "pages/auth_pages/profile.scss";
@import "pages/auth_pages/home.scss";
@import "pages/auth_pages/payment.scss";
@import "pages/login.scss";

//***********admin
@import "pages/admin_pages/main_frame/main_content.scss";
@import "pages/admin_pages/main_frame/main_fram.scss";
@import "pages/admin_pages/main_frame/side_bar.scss";
@import 'pages/admin_pages/component/component.scss';
@import 'pages/admin_pages/pages/payment.scss';
//pages
@import 'pages/admin_pages/pages/users.scss';
@import 'pages/admin_pages/pages/videos.scss';
//dhashboard
@import 'pages/admin_pages/dachboard/charts.scss';
@import 'pages/admin_pages/dachboard/charts_line.scss';
@import 'pages/admin_pages/dachboard/total_cards.scss';
//************responce 
@import "responce_main.scss";
@import "pages/admin_pages/responce.scss"